.invoices-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.invoices-container__title h2 {
    color: #1d5c91;
    font-weight: 500;
}

.invoices-container__title h4 {
    color: #6f7173;
    font-weight: 400;
}

.invoices-container__list {
    display: flex;
    flex-direction: column;
}