<!doctype html>
<html lang="fr">
    <div th:replace="~{global-head.html}"></div>
    <body>
        <div th:replace="~{menu.html}"></div>
        <div class="invoices-container">
            <div class="invoices-container__title">
                <h2>Factures</h2>
                <h4>Consulter et créer des factures</h4>
            </div>
            <a th:href="@{new-invoice}">Nouvelle facture</a>
            <div class="invoices-container__list">
            </div>
        </div>
    </body>
</html>